/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-family: "Soleil",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.landing-top{
    display: flex;
    justify-content: space-between;
    padding: 0 16.4rem 0 15.4rem;
    color: #000
}

.main-title{
    font-size: 1.5rem;
}

.landing-page-info{
    padding-left: 60px;
}

.landing-page-info{
    position: relative;
    left: 10rem;
    width: fit-content;
}


.signup-form-link{
     text-decoration: none;  
}

.login-form-link{
    text-decoration: none;
    color: black;
}

#signup-form-link{
     background-color: #29A82C;
     width: 301px;
     height: 40px;
     color: white;
     border-radius: 3px;
     text-align: center;
     letter-spacing: 1.5px;
     padding-top: 15px;

}

