/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-family: "Soleil",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.welcome-header{
    display: flex;
    justify-content: space-between;
    padding-left: 26.2rem;
    padding-right: 33rem;

}

.welcome-body{
    padding-top: 60px;
}

.phase-one{
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.first-sent{
    font-size: 56px;
    font-family: "Soleil_Medium",Helvetica,Arial,sans-serif;
    line-height: 150%
}

.second-sent{
    font-size: 24px;
    font-weight: 400;
    line-height: 150%
}
.login-form-link{
    text-decoration: none;
    color: inherit
}

.signup-form-link{
    text-decoration: none;
    color: inherit
    
}

#signup-form-link{
      /* background-color: #29A82C;  */
  font-size: 16px;
    padding: 16px 80px;
    background: #00a82d;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    letter-spacing: 1.5px;
    line-height: 1;
    text-align: center;

}
/* 
.landing-top{
    display: flex;
    justify-content: space-between;
    padding: 0 16.4rem 0 15.4rem;
    color: #000
}

.main-title{
    font-size: 1.5rem;
}

.landing-page-info{
    padding-left: 60px;
}

.landing-page-info{
    position: relative;
    left: 10rem;
    width: fit-content;
}


.signup-form-link{
     text-decoration: none;  
}

.login-form-link{
    text-decoration: none;
    color: black;
}

#signup-form-link{
     background-color: #29A82C;
     width: 301px;
     height: 40px;
     color: white;
     border-radius: 3px;
     text-align: center;
     letter-spacing: 1.5px;
     padding-top: 15px;

} */

